<div class="nested-fields" data-new-record="<%= f.object.new_record? %>">
  <%= f.label :content, "Instruction" %>
  <%= f.text_area :content %>
  <%= f.hidden_field :_destroy %>
  <button type="button" data-action="nested-form#remove">Remove</button>
</div>