<% content_for :title, "Editing ai agent" %>

<h1>Editing ai agent</h1>

<%= render "form", ai_agent: @ai_agent %>

<br>

<div>
  <%= link_to "Show this ai agent", @ai_agent %> |
  <%= link_to "Back to ai agents", ai_agents_path %>
</div>
